requests~=2.20.0
motor~=2.3.0
environs~=8.0.0
aiohttp~=3.6.3
cryptography
discord-components
pytz
dateparser
parsedatetime
d20
git+https://github.com/Rapptz/discord.py.git
git+https://github.com/CrawlerEmporium/CrawlerUtilities.git@threads